/*
****
* Fonts
****
*/

/* @font-face {
    src: url(fonts/layla/layla\ arabic\ Bold.ttf);
    font-family: "layla";
    font-weight: "bold";
}

@font-face {
    src: url(fonts/layla/layla\ arabic\ Regular.ttf);
    font-family: "layla";
    font-weight: "500";
}

@font-face {
    src: url(fonts/shubbak/Shubbak-bold.otf);
    font-family: "Shubbak";
    font-weight: "bold";
}

@font-face {
    src: url(fonts/shubbak/Shubbak-Regular.otf);
    font-family: "Shubbak";
    font-weight: "500";
} */
/*
****
* Global
****
*/

:root {
    /* Colors */
    --blue: #10524e;
    --green: #96b53e;
    --brown: #ceae75;
    --white: #fff;
    /* font family */
    --ff-shubbak: "Shubbak";
    --ff-layla: "layla";
    --transition-1: 0.3s;
}

body {
    /* font-family: var(--ff-shubbak); */
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    /* outline: 1px solid slategrey; */
}
/*
****
* Classes
****
*/
/*
****
* navigation
****
*/

/*
****
* headerr
****
*/

/*
****
* footer
****
*/

/*
****
* whatapp btn
****
*/

/*
****
* media
****
*/
/*
****
* animation
****
*/
