@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .link {
        @apply text-primary font-bold text-sm md:text-lg ms-6 relative  before:absolute before:bottom-[-2px] rtl:before:right-0  ltr:before:left-0  before:w-8 before:bg-primary before:h-[2px] before:rounded-lg before:transition before:duration-300  hover:before:w-full;
    }
}

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7bcbc2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5baaa1;
}

.header::before,
.header::after {
    content: "";
    width: calc(50% + 60px);
    height: calc(100% + 100px);
    position: absolute;
    border-start-start-radius: 16px;
    border-end-end-radius: 16px;
}

.header::after {
    border-block-start: 1px solid white;
    border-inline-start: 1px solid white;
    right: -40px;
    top: -50px;
}

.header::before {
    border-block-end: 1px solid white;
    border-inline-end: 1px solid white;
    left: -60px;
    bottom: -50px;
}

.en main .header::after {
    left: -40px;
    right: auto;
}
.en main .header::before {
    left: auto;
    right: -60px;
}
.ar .nice-select:after {
    right: auto;
    left: 12px;
}
.ar .nice-select,
.ar .nice-select .option {
    padding-right: 28px;
    padding-left: 160px;
    text-align: start;
}
.en .nice-select,
.en .nice-select .option {
    padding-left: 28px;
    padding-right: 160px;
    text-align: start;
}
.nice-select:after {
    border-color: rgb(66, 66, 66);
}
.nice-select .list {
    position: absolute !important;
    z-index: 1000 !important;
    max-height: 400px;
    overflow: auto;
}
.nice-select .list::-webkit-scrollbar {
    width: 8px;
}

.type_mony .nice-select {
    height: 76px;
    padding-block: 16px;
    border-radius: 12px;
}
@media (max-width: 992px) {
    .type_mony .nice-select .option,
    .type_mony .nice-select {
        padding-right: 28px;
        padding-left: 120px;
    }

    .ar .nice-select .option,
    .ar .nice-select {
        padding-right: 28px;
        padding-left: 60px;
    }

    .en .nice-select .option,
    .en .nice-select {
        padding-left: 28px;
        padding-right: 60px;
    }

    .header::before,
    .header::after {
        content: "";
        width: calc(50% + 20px);
    }

    .header::after {
        right: -20px;
        top: -50px;
    }

    .header::before {
        left: -40px;
        bottom: -50px;
    }
    .en main .header::after {
        left: -20px;
        right: auto;
    }
    .en main .header::before {
        left: auto;
        right: -40px;
    }
}
[data-aos] {
    pointer-events: none;
}
.aos-animate {
    pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
}
